@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Work Sans;
}

.header {
    background-color: rgba(255, 144, 14, 0.1);
}

.header-container {
    /* max-width: 1440px; */
    margin: 0 auto;
    padding: 50px 0 45px;
}
/* Navbar */
.navbar {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title {
      font-weight: bold;
      font-size: 2.6rem;
      color: #131313;
}
.nav-list {
    list-style-type: none;
    display: flex;
    gap: 30px;
}
.nav-list a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 1.2rem;
}
/* Banner Section */
.banner-txt-container {
    width: 50%;
    text-align: center;
    margin: 50px auto 70px;
}
.banner-title {
    color: #131313;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 25px; 
}
.banner-txt {
    font-size: 1rem;
    color: #727272;
    font-weight: 400;
    margin-bottom: 32px;
}
.banner-btn {
    background-color: #ff900e;
    color: white;
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.banner-btn:hover {
    background-color: rgb(227, 125, 0);
}
.banner-img {
    display: flex;
    justify-content: center;
}
.banner {
    width: 80%;
    border-radius: 8px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}
/* Section 2 */
.sec2 {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
}
.sec2-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.sec2-images img {
    border-radius: 8px; 
}
.sec2-txt-container {
    max-width: 530px;
    margin-left: 73px;
}
.sec2-title {
    font-size: 2.8rem;
    color: #ff900e;
    font-weight: bold;
}
.sec2-txt {
    color: #727272;
    margin: 24px 0 32px;
}




@media screen and (min-width: 576px) and (max-width: 920px) {
    .nav-title {
        font-size: 2.2rem;
    }
    .navbar {
        flex-direction: column;
        gap: 30px;
        max-width: 85%;
    }

    .banner-txt-container {
        width: 80%;
        margin-bottom: 50px;
    }
    .banner-title {
        font-size: 3.2rem;
    }

    .sec2 {
        flex-direction: column;
        align-items: flex-start;
    }
    .sec2-images {
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .sec2-images img {
        max-width: 100%;
    }
    .sec2-txt-container {
        max-width: 100%;
        margin: 20px auto;
    }
}

/* Small Screen */
@media screen and (max-width: 576px) {
    .nav-title {
        font-size: 2rem;
    }
    .navbar {
        flex-direction: column;
        gap: 30px;
        max-width: 88%;
    }
    .banner-txt-container {
        width: 87%;
        margin-bottom: 50px;
    }
    .banner-title {
        font-size: 2.5rem;
    }
    .banner {
        width: 90%;
    }

    .sec2 {
        flex-direction: column;
        align-items: flex-start;
        margin: 70px auto;
    }
    .sec2-images {
        grid-template-columns: 1fr;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .sec2-images img {
        max-width: 100%;
    }
    .sec2-txt-container {
        max-width: 100%;
        margin: 0px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* X-Small Screen */
@media screen and (max-width: 350px) {
    .navbar {
        text-align: center;
    }
    .nav-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}